# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [22]:
import random

#data.columns


'''
Получение общих характеристик о задолженостях по категории 'дети'
Составление соотношения кол-во должников к общему количеству пользователей
'''
'''
contrast_sum = data.groupby('children')['debt'].sum()
contrast_count = data.groupby('children')['debt'].count()
print('sum', contrast_sum, '\n')
print('count:', contrast_count, '\n')

print('CONTRAST:', (contrast_sum / contrast_count) * 100)
'''
'''
Дальше реструктуризируются данные по трем категориям: 0, 1, 2 детей
'''

data['children'].unique()

child_0 = data[data['children'] == 0]['debt'].reset_index(drop=True)
child_1 = data[data['children'] == 1]['debt'].reset_index(drop=True)
child_2 = data[data['children'] == 2]['debt'].reset_index(drop=True)

child_0_selection = child_0[::5].reset_index(drop=True)
child_1_selection = child_1[::5].reset_index(drop=True)
child_2_selection = child_2[::5].reset_index(drop=True)

'''
Выбираются первыве 330 строк, для проверки поведения значений на локальном промежутке
'''
'''
print()

print('0 selection:', (child_0_selection[0:330].sum() / child_0_selection[0:330].count()) * 100)
print('1 selection:', (child_1_selection[0:330].sum() / child_1_selection[0:330].count()) * 100)
print('2 selection:', (child_2_selection[0:330].sum() / child_2_selection[0:330].count()) * 100)

print()
'''
'''
Составляем выборку размером 330 элементов случайным образом
'''

#print(random.randrange(0, 14090, 50))
r_0 = [random.randint(0, 13860) for _ in range(330)]
r_1 = [random.randint(0, 4620) for _ in range(330)]
r_2 = [random.randint(0, 1980) for _ in range(330)]
#print(len(r_0), len(r_1), len(r_2)) #проверка, что элементов 330 штук

child_0_random_array = child_0[r_0]
child_1_random_array = child_0[r_1]
child_2_random_array = child_0[r_2]

#print('0 random 330:', (child_0_random_array.sum() / child_0_random_array.count()) * 100)
#print('1 random 330:', (child_1_random_array.sum() / child_1_random_array.count()) * 100)
#print('2 random 330:', (child_2_random_array.sum() / child_2_random_array.count()) * 100)

'''
Результаты замеров при 330:

0 random: 9.696969696969697
1 random: 7.575757575757576
2 random: 3.939393939393939

0 random: 6.666666666666667
1 random: 6.666666666666667
2 random: 6.0606060606060606

0 random: 7.2727272727272725
1 random: 5.454545454545454
2 random: 4.848484848484849

0 random: 7.878787878787878
1 random: 7.2727272727272725
2 random: 7.2727272727272725

0 random: 8.484848484848486
1 random: 6.0606060606060606
2 random: 7.2727272727272725
'''
print()

'''
Сравнение '0' и '1' с 1000 элментами
'''
r_0 = [random.randint(0, 14000) for _ in range(1000)]
r_1 = [random.randint(0, 4000) for _ in range(1000)]


child_0_random_array_1000 = child_0[r_0]
child_1_random_array_1000 = child_0[r_1]

print('0 random 1000:', (child_0_random_array_1000.sum() / child_0_random_array_1000.count()) * 100)
print('1 random 1000:', (child_1_random_array_1000.sum() / child_1_random_array_1000.count()) * 100)

'''
Результаты замеров при 1000:

0 random: 8.0
1 random: 6.7

0 random: 7.3999999999999995
1 random: 6.9

0 random: 8.200000000000001
1 random: 5.800000000000001

0 random: 7.7
1 random: 5.3

0 random: 9.4
1 random: 6.5

0 random: 7.5
1 random: 7.5
'''

data.pivot_table(index = 'children', values = 'debt', aggfunc = ['count', 'sum', 'mean'])\
    .sort_values(by = ('mean', 'debt'), ascending = False)\
    .style.format({('mean', 'debt') : '{:.2%}'})

0 random 1000: 6.5
1 random 1000: 6.9

**Вывод:** На первый взгляд кажется, что семьи без детей лучше возвращают долги, но размер данных, на основании которых деляется вывод чересчур различный. Например, семей без детей около 14 000, с одним ребенком - ~5 000, с двумя - ~2 000, с тремя - ~330, а где четверо и пятеро детей и вовсе меньше 50, что для какого-либо вывода неподходит (не релевантная выборка)

Было решено уменьшить выборку до 330 элементов (кол-во записей с тремя детьми) и произвести сравнение между '0', '1', '2' и '3'

Также решено было выбрать 1000 строк и произвести сравнение между '0', '1'

Опасения в каком-то смысле подтвердились, результаты как бы скачут в своих зачениях, что дает некоторое основание утверждать об отсутсвии связи между кол-вом детей и своевременным возвратом средств

Установить +- точную связь можно на более больших(кол-во) и примерно одинаковых по размерам(кол-во) данных

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [23]:
#print(data.columns)


'''
Получение общих характеристик о задолженостях по категории 'дети'
Составление соотношения кол-во должников к общему количеству пользователей
'''
contrast_sum = data.groupby('family_status')['debt'].sum()
contrast_count = data.groupby('family_status')['debt'].count()
#print('sum', contrast_sum, '\n')
#print('count:', contrast_count, '\n')

#print('CONTRAST:', (contrast_sum / contrast_count) * 100)
print()


#первая категория (1)
active_family = data.loc[(data['family_status'] == 'женат / замужем') | (data['family_status'] == 'гражданский брак'), 'debt'].reset_index(drop=True)

#вторая категория (2)
broken_family = data.loc[((data['family_status'] == 'Не женат / не замужем') | (data['family_status'] == 'в разводе') | (data['family_status'] == 'вдовец / вдова')) & (data['children'] != 0), 'debt'].reset_index(drop=True)

#третья категория (3)
single = data.loc[((data['family_status'] == 'Не женат / не замужем') | (data['family_status'] == 'в разводе') | (data['family_status'] == 'вдовец / вдова')) & (data['children'] == 0), 'debt'].reset_index(drop=True)



family_act = pd.DataFrame({'name': 'active_family', 'count': active_family.count(), 'sum': active_family.sum(), 'converse': ((active_family.sum() / active_family.count()) * 100)}, index=[0])
#print(family_act)

family_bro = pd.DataFrame({'name': 'broken_family', 'count': broken_family.count(), 'sum': broken_family.sum(), 'converse': ((broken_family.sum() / broken_family.count()) * 100)}, index=[0])
#print(family_bro)

family_sin = pd.DataFrame({'name': 'single', 'count': single.count(), 'sum': single.sum(), 'converse': ((single.sum() / single.count()) * 100)}, index=[0])
#print(family_sin)

result = pd.concat([family_act, family_bro, family_sin])
result = result.reset_index(drop=True)

### ВАРИАНТ ПРЕДЛОЖЕННЫЙ

def plus_status(elem):
    if (elem == 'женат / замужем') | (elem == 'гражданский брак'):
        return 'active_family'
    elif ((elem == 'Не женат / не замужем') | (elem == 'в разводе') | (elem == 'вдовец / вдова')):
        return 'time_family'
    else:
        pass

def dop_status(elem):
    if elem != 0:
        return 'broken_family'
    else:
        return 'single'

data_new = data

data_new['new_family_status'] = data_new['family_status'].apply(plus_status)
#print('data_new 1:', data_new.info())

data_new.loc[data_new['new_family_status'] == 'time_family', 'new_family_status'] = data_new.loc[data_new['new_family_status'] == 'time_family', 'children'].apply(dop_status)
#print('data_new 2:', data_new.info())

#первая категория (1)
active_family = data.loc[(data['family_status'] == 'женат / замужем') | (data['family_status'] == 'гражданский брак'), 'debt'].reset_index(drop=True)

#вторая категория (2)
broken_family = data.loc[((data['family_status'] == 'Не женат / не замужем') | (data['family_status'] == 'в разводе') | (data['family_status'] == 'вдовец / вдова')) & (data['children'] != 0), 'debt'].reset_index(drop=True)

#третья категория (3)
single = data.loc[((data['family_status'] == 'Не женат / не замужем') | (data['family_status'] == 'в разводе') | (data['family_status'] == 'вдовец / вдова')) & (data['children'] == 0), 'debt'].reset_index(drop=True)

result = pd.concat([active_family, broken_family, single], axis=1, keys=['active_family', 'broken_family', 'single'])
#print(result)

data_new.pivot_table(index = 'new_family_status', values = 'debt', aggfunc = ['count', 'sum', 'mean'])\
    .sort_values(by = ('mean', 'debt'), ascending = False)\
    .style.format({('mean', 'debt') : '{:.2%}'})

**Вывод:**
Причина в дальнейших действиях заключается в 1) слишком малом наборе данных по некоторым категориям, 2) присутствует некоторая спутанность в категориях


Статусы "гражданский брак" и "женат / замужем" - разумно объединить, 
т.к люди этой категории ведут совместное хозяйство и могут иметь детей.

Проблемными являются "Не женат / не замужем", "в разводе", "вдовец / вдова" - 
- с одной стороны люди этих групп не ведут совместное хозяйство, 
но с дургой - все три могут иметь детей

Из этого можно сделать вывод, что разумно было бы составить Три группы:
1) Граждане ведущие совместное хозяйство - статусы "гражданский брак" и "женат / замужем" (действующая семья)
2) Граждане, которые НЕ ведут совместное хозяйство, но имеют детей (распавшаяся семья)
3) Граждане, которые НЕ ведут совместное хозяйство и НЕ имеют детей (холост)

--- (2) и (3) относятся к "Не женат / не замужем", "в разводе", "вдовец / вдова", 
т.к люди, которые приписали себя к этим категориям фактически могут быть в другом статусе,
например, разведенный мужчина мог указать "Не женат / не замужем",
или вдова - "Не женат / не замужем"

Т.е "в разводе", "вдовец / вдова" отчасти являются подкатегориями "Не женат / не замужем"



По итогу эксперимента можем видеть, что особой разницы между людьми живующими в действующей семье и без неё - нет, кредит отдают примерно одинаково, 
Имеется различие в худшую сторну у, так называемых, 'сломаных семей' - граждане когда-либо бывшие в браке и имеющие какое-то количество детей. 

Вероятная причина таких результатов в наличии отягчяющих условиях относительно полных семей и людей живущих без семьи - это ведение хозяйственной деятельности в одиночку и наличие ребенка (дополнительная экономическая нагрузка)

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [24]:
print('max:', data['total_income'].max())
print('min:', data['total_income'].min())
print('mean:', data['total_income'].mean())
print('median:', data['total_income'].median())

total = data.groupby('total_income_category')['debt']
#total['sum'] = total.sum()
total_res = pd.DataFrame({'count': total.count(), 'sum': total.sum(), 'converse': (total.sum() / total.count()) * 100})
#print(total_res)



print("""
        0–30000 — 'E', 
        30001–50000 — 'D', 
        50001–200000 — 'C', 
        200001–1000000 — 'B', 
        1000001 и выше — 'A'.""")

#total_res

data.pivot_table(index = 'total_income_category', values = 'debt', aggfunc = ['count', 'sum', 'mean'])\
    .sort_values(by = ('mean', 'debt'), ascending = False)\
    .style.format({('mean', 'debt') : '{:.2%}'})

max: 2265604
min: 20667
mean: 165342.74576906848
median: 142594.0

        0–30000 — 'E',
        30001–50000 — 'D',
        50001–200000 — 'C',
        200001–1000000 — 'B',
        1000001 и выше — 'A'.

**Вывод:** 

Группы граждан 'А' и 'Е' представленные в слишком малом кол-ве. И это отчасти понятно - группа 'А' доходы свыше 1 млн, группа 'Е' доходы меньше 30 тыс - представителям этих двух групп кредит нужен редко или вовсе недоступен (мало свободных средств). Но несмотря на это судить по столь малому количеству данных об этих группах нельзя.

Аналогичная ситуация с группой 'С' - маловато данных и это эта группа, у кого свободных средств может быть недостаточно.

Что касаемо остальных групп - достаточно хорошо представленны 'В' и 'С'. 
'B' = [200 тыс – 1 млн] - это группа возвращает кредитные средства лучше, чем категория 'C'.
'С' = [50 тыс – 200 тыс] - это группа среднего дохода, возвращает кредит хуже, чем 'B'\

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [25]:
purpose_category = data.groupby('purpose_category')['debt']

#res_purpose_category = pd.DataFrame({''})
#print(purpose_category.count())
#print(purpose_category.sum())
#print((purpose_category.sum() / purpose_category.count()) * 100)

data.pivot_table(index = 'purpose_category', values = 'debt', aggfunc = ['count', 'sum', 'mean'])\
    .sort_values(by = ('mean', 'debt'), ascending = False)\
    .style.format({('mean', 'debt') : '{:.2%}'})

**Вывод:** 
Кол-во данных вполне хорошее,
Разница заметна, хуже всего дела обстоят с 'операции с автомобилем' и 'получение образования' - в моменте с образовнием влияет необходимость выделять время на учебу, уменьшая часы работы, что приводит к снижению зп, что в свою очередь уменьшает запас прочности в случае форс-мажора. 

Насчет автомобиля - товар, который требует постоянного обслуживания, т.к является движимым - есть риск транспортного происшествия, которое может создавать для гражданина высокую непредсказанную финансовую нагрузку

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.





#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

### Шаг 4: общий вывод.

*Вывод:*

При обработке данных были устранены различные пропуски в значениях,
Были добавлены столбцы оптимизирующие и конкретизирующие некоторые характеристики (уровень дохода, цели займа)

При исследвании были выявленны следующие зависимости:
от семейного положения,
от уровня дохода,
от целей займа

Люди без семьи(определялась группа по отсутствию детей и какого-либо брака) или же в ПОЛНОЙ семье (в браке) возвращают кредит лучше (~8%), чем люди, которые имеют детей и при этом не состоят в каком-либо браке - группа разведенных, вдовствующих и в целом вне брака людей с детьми (~10%)

Наилучшими заемщиками являются граждане получающие от 200 тыс до 1 млн (~7%), следующие за ними чьи доходы от 50 тыс до 200 тыс (~8.5%)

Стабильней всего отдается кредит за недвижимость (~7.3%), чуть хуже на категорию связанную со свадьбой (~8%), существенно хуже на образование и автомобиль (почти 10% заемщиков получают просрочки)


Наилучший заемщик человек или из полной семьи (т.е в браке), или без семьи (но тогда без детей), с доходом от 200 тыс до 1 млн, берущий займ на приобретение жилья

Худший - это с n-ым кол-вом детей вне брака (развод, смерть супруга и т.д), берущий займ на приобретение автомобиля